<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span>Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span>Payment Id</span></dt>
        <dd>
          <span>{{ transaction.paymentId }}</span>
        </dd>
        <dt><span>Reservation Reference</span></dt>
        <dd>
          <span>{{ transaction.reservationReference }}</span>
        </dd>
        <dt><span>Payment Status</span></dt>
        <dd>
          <span>{{ transaction.paymentStatus }}</span>
        </dd>
        <dt><span>Payment Type</span></dt>
        <dd>
          <span>{{ transaction.paymentType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
